*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .2s linear;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

html{
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@font-face {
    font-family: 'logo';
    src: url(logo.ttf);
}
.logo{
    border-bottom: 1px solid rgba(128, 128, 128, 0.671);
    background-color: #fff;
    height: 110px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1;
}
.logo1 img{
    position: relative;
    width: 200px;
    height: 110px;

}
.logo2 h1{
    font-family: 'logo';
    font-weight: 100;
    font-size: 44px;
}
.logo .logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:8px ;
    position: relative;
    width: 500px;

}

.logo .prt3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo .prt3 i{
    padding-left: 16px;
    color: rgba(128, 128, 128, 0.733);
}
.logo .prt3 i:hover{
    color: gray;
    font-size: 18px;
}

.menu{
    border-bottom: 1px solid rgba(128, 128, 128, 0.671);
    width: 100%;
    height: 50px;
    color: white;
    position: fixed;
    top:100px; left: 0; right: 0;
    z-index: 1;
    background-color: #fff;
    transition: 1s;

}
.menu ul{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    list-style: none;
}
.menu ul li{
    margin-top:5px;
    position: relative;
    left: 180px;
}

.menu ul li a:hover{
    color:gray ;
    font-size: 14px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}

/* hearder */
.header{
    background-image: url(img/capa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
}

.header h1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    left:300px;
    font-size: 90px;
    font-weight: 100; 
    line-height: 75px;
    color: rgb(80, 80, 80);
    font-family: 'logo';
}

.header h1 .um{
    font-family: 'logo';
    position: relative;
    top: 50px;
    left:10px;
}
.header h1 .dois{
    font-family: 'logo';
    position: relative;
    top: 80px;
    left:10px;
}

.header .btn{
    position: relative;
    top: 400px;
    left: 1200px;
    width: 100px;
    height: 60px;
    background:none;
    border: 1px solid gray;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(44, 44, 44);
}

.header .btn:hover{
    border-radius: 10px;
    font-size: 13px;
}

/* section 1 */
.section1{
    height:700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section1 .box-container{
height: 600px;
display: flex;
justify-content: center;
align-items: center;
width: 80%;
flex-wrap: wrap;
margin-top: 50px;
}

.section1  h1{
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
}

.section1 .box-container .box {
    height: 250px;
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.section1 .box-container .box p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.section1 .box-container .box span{
    margin-top: 10px;
    font-size: 12px;
}

.section1 .box-container .box .btn{
    width: 80px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    background: none;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 11px;
    text-align: center;
}
.section1 .box-container .box .btn:hover{
    border-radius: 2px;
    background:linear-gradient(#EFBE86, #F2CB9E,#EFBE86);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.4s ease-in;
    border: 1px solid #EFBE86;

}


.section1 .box-container .box img{
width: 150px;
height: 150px;
}


/* section 2 */
.section2{
    background-image: url(img/capaprt22.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
}

.section2 .box .img{
    position: relative;
    left: -1000px;
    top: -72px;
}
.section2 .box .img img{
    /* border: 1px solid  red; */
    width: 900px;
    height: 600px;
}



.section2 .box{
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    position: relative;
    left: 800px;
    top: 100px;
}

.section2 .box .box2{
    position: relative;
    top: -600px;
}

.section2 .box .box2 h1{
    font-weight: 100;
    color: rgba(0, 0, 0, 0.753);
    margin-top: 10px;
    margin-bottom: 10px;
}

.section2 .box .box2 p{
    color: rgba(0, 0, 0, 0.753);
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 30px;
}

.section2 .box .box2 button{
    width: 100px;
    height: 40px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.479);
  
}

.section2 .box button:hover{
    font-size: 12px;
    border-radius: 10px;
    transition: 1.5s;
}
@media screen and (max-width: 1440px) {
    body{
        overflow-x: hidden;
    }
    .logo .logo2{
      position: relative;
      right: -50px;
    }

    .menu ul li{
        margin-top:5px;
        position: relative;
        left: 150px;
    }        
    .header h1{
        top: 300px;
        left:100px;
    }

        
    .header .btn{
        position: relative;
        top: 400px;
        left: 700px;
    }

    .section1 .box-container .box {
        height: 150px;
        width: 260px;
    }
    .section1  h1{
        margin-left: 50px;
    }
    .header{
        width: 1440px;
    }
    .section2{
        width: 1440px;
    }


  }

  /* section3 */

  .section3{
    width: 100%;
    height: 500px;
    text-align: center;
  }

.section3 h1{
    font-weight: 100;
    position: relative;
    top: 50px;
   

        }

    .section3 p{
        margin-top: 20px;
        font-size: 12px;
        }

  .section3 .box-container{
    height: 300px;
    width: 70%;
    display: flex;
    margin-top: 100px;
    position: relative;
    left: 500px;
    
  }

  .section3 .box-container .box{
    width: 300px;
    height: 200px;
    text-align: center;
    position: relative;
    left: -150px;
  }

  .section3 .box-container .box img{
        width: 200px;
        height: 200px;
        

  }

  .section3 .box-container .box .minibox{
    position: relative;
    bottom: 10px;

  }

  .section3 .box-container .box img:hover{
    width: 230px;
    height: 230px;
  }


  /* rodape */
  .rodape{
    height: 400px;
    padding: 20px;
    background-color: #f8cba4;
  }

  .rodape .box-container{
    display: flex;
    height: 300px;
    justify-content:space-evenly;
    align-items: center;
  }

  .rodape .box-container .box{
    width: 300px;
    height: 200px;

  }

  .rodape .box-container .box ul{
    list-style-type: none;
    margin-top: 25px
  }

  .rodape .box-container .box ul li{
    padding-left: 15px;
    margin-top: 15px;
    font-size: 14px;
  }

  .rodape .box-container .box h1{
    text-align: center;
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;

  }

  .rodape .box-container .box .minibox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .rodape .box-container .box .minibox p{
    font-size: 14px;
    margin-top: 15px;
  }

  .rodape .box-container .box .minibox i{
    position: relative;
    left: -90px;
    top: 30px;
    font-size: 14px;
  }

  .rodape .box-container .box .minibox2{
       display: flex;
       justify-content: center;
       align-items: center;
        margin-top: 50px;
  }

  .rodape .box-container .box .minibox2 i{
    padding-left: 20px;
    font-size: 22px;
  }

  .rodape .box-container .box .minibox2 i:hover{
    font-size: 20px;
  }

  .rodape .box-container .box .minibox2 .blue:hover{
   color: rgb(72, 72, 240);
  }

  .rodape .box-container .box .minibox2 .green:hover{
    color:rgb(84, 168, 247);
  }

  .rodape .box-container .box .minibox2 .pink:hover{
    color: rgb(240, 96, 120);
  }

  @media (max-width:800px){
    .logo2 h1{
        position: relative;
        left: -60px;
    }
    .logo1 img{
        display: none;
    }
    .menu{
        width: 25%;
        position: absolute;
        right: 0;
        height: 35%;
        flex-direction: column;
        justify-content: flex-start;
        

    }
    .menu ul{
        flex-direction: column;
        align-items: flex-start;
    }


    
    .menu{
        position: absolute;
        top: 49px;
        height: 43%;
        width: 20%;
        transform: translateX(-100%);
    } 
    
    .burguer div{
            background-color: #fabc86 ;
            height: 3px;
            width: 25px;
            margin: 3px 0;
            /* display: none; */
    }
    .burguer{
     cursor: pointer;
     position: fixed;
     top: 40px;
     left: 10px;
     z-index: 2;
    }
    .show{
        transform: translateX(0);
    }
    .menu ul li{
        margin-left: -155px;
        padding-bottom: 25px;
        padding-top: 10px;
        font-size: 90%;
    }  

    .menu ul li a:hover{
        color:rgb(102, 101, 101) ;
        font-size: 13px;
    }

    
.logo .prt3{
    position: relative;
    left: -30px;
}
    .header{
     height: 550px;
     background-image: url(img/capa2.jpg);
     background-size:400px 400px;
     background-repeat: no-repeat;
     background-size: cover;
     height: 550px;
     width: 100%;
    }   
.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    left:165px;
    font-size: 60px;
    font-weight: 100; 
    line-height: 75px;
    color: rgb(80, 80, 80);
    font-family: 'logo';
}

.header h1 .um{
    font-family: 'logo';
    position: relative;
    top: 60px;
    left:-155px;
}
.header h1 .dois{
    font-family: 'logo';
    position: relative;
    top: 120px;
    left:-300px;
}

.header .btn{
    position: relative;
    top: 370px;
    left: 350px;
    width: 100px;

}

.section1{
    height:700px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section1 .box-container{
height: 700px;
display: flex;
width: 100%;
flex-direction: column;
flex-wrap: wrap;
position: relative;
top: -20px;
}

.section1  h1{
    font-size: 22px;
    position: relative;
    top: -5px;
}

.section1 .box-container .box {
    margin-left: 20px;
    margin-bottom: 55px;
}

.section1 .box-container .box .btn{
    margin-top: 1px;
}

.section1 .box-container .cima{
    position: relative;
    top: -100px;
}

.section1 .box-container .box p{
    font-size: 14px;
}


.section1 .box-container .box .btn{
    margin-top: 8px;
}
/* .section1 .box-container .box::nt .btn{
    margin-top: 8px;
} */

.section1 .box-container .box img{
width: 120px;
height: 120px;
margin-top: 50px;
}

/* /////////// */

.section2{
    background-image: url(img/capaprt22.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
}

.section2 .box .img{
    position: relative;
    left: -1000px;
    top: -72px;
}
.section2 .box .img img{
    width: 900px;
    height: 600px;
}



.section2 .box{
    position: relative;
    left: 580px;
    top: 100px;
}

.section2 .box .box2{
    position: relative;
    top: -600px;
    left: -60px;
}

/* ////////////// */

.section3{
    width: 100%;
    height: 750px;
    text-align: center;
  }

  .section3 .box-container{
    height: 600px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 250px;
    
  }

  }

  @media (max-width:480px){

    
.logo{

    height: 50px;
    display: flex;
    /* justify-content:flex-end; */
}
.logo1 img{
  display: none;

}
.logo2 h1{
    font-size: 35px;
    position: relative;
    left: 10px;
}

.logo .prt3{
    position:relative;
    left: -10px;
}
.logo .prt3 i{
    font-size: 14px;
}
/* /////////////// */
    
    .menu{
        position: absolute;
        top: 49px;
        height: 43%;
        width: 20%;
        transform: translateX(-100%);
    } 
    
    .burguer div{
            background-color: #fabc86 ;
            height: 3px;
            width: 25px;
            margin: 3px 0;
            /* display: none; */
    }
    .burguer{
     cursor: pointer;
     position: fixed;
     top: 15px;
     left: 10px;
     z-index: 2;
    }
    .show{
        transform: translateX(0);
    }
     .menu ul li{
        margin-left: -143px;
     }
    .header{
     height: 400px;
    }
      
.header h1{
    position: relative;
    top: 150px;
    left:257px;
    font-size: 50px;

}


.header h1 .um{
    position: relative;
    top: 60px;
    left:-127px;
}
.header h1 .dois{
    position: relative;
    top: 120px;
    left:-250px;
}


.header .btn{
    display: none;
}


/* ///////// */

.section1{
    height:2130px;
    width: 100%;
}
.section1 .box-container{
height: 2130px;
width: 90%;
flex-wrap: nowrap;
margin-top: 50px;
position: relative;
top:-60px ;
}

.section1  h1{
    position: relative;
    top: -5px;
    left: -10px;
}

.section1 .box-container .box {
    height: 250px;
    width: 360px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    top:-23px ;
}

.section1 .box-container .box .btn{
    margin-top: 10px;
}

.section2{
    height: 400px;
}

.section2 .box .img img{
    /* border: 1px solid  red; */
    width: 570px;
    height: 390px;
    position: relative;
    left: -30px;
}

.section2 .box{
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    position: relative;
    left: 800px;
    top: 100px;
}

.section2 .box .box2{
    position: relative;
    top: -368px;
    left: -555px;
}
.section3 .box-container .box{
    margin-bottom: 40px;
    position: relative;
    top: -75px;

}
.section3{
    height: 1030px;
}
.section3 h1{
    position: relative;
    top: 10px;
    left: 15px;
}

/* ////// */

.rodape{
    height: 550px;
    padding: 20px;
    background-color: #f8cba4;
  }

  .rodape .box-container{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
  }

  .rodape .box-container .box{
    position: relative;
    top: 101px;
    left: -17px;
    margin-bottom: 12px;
  }

  
  .rodape .box-container .box h1{
    text-align:start;
    margin-left: 5px;
  }

  .rodape .box-container .box .minibox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .rodape .box-container .box .minibox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .rodape .box-container .box .minibox i{
    position: relative;
    left: 5px;
  }

  .rodape .box-container .rdpp .minibox p{
    position: relative;
    left: 25px;
  }


  .rodape .box-container .box ul li {
    font-size: 14px;
    align-items: flex-start;
    position: relative;
    right: 10px;
  }

  .rodape .box-container .box .minibox2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 20px;
    position: relative;
    left: -10px;
}
  }   
  
  

  /* ////////////// */

  @media (max-width: 360px){
    .section3 .box-container .box {
    position: relative;
    top: -75px;
    left: -211px;
}

.section2 .box .box2 {
    position: relative;
    top: -368px;
    left: -639px;
}

.header h1 {
    position: relative;
    left: 237px;
}

.menu {
    /* position: absolute;
    top: 49px;
    height: 43%; */
    width: 30%;
}
  }